name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: ${{ secrets.VPS_PORT }}
          script: |
            cd /home/debian/Robots/fivemfrance
            if [ ! -d .git ]; then
              git init
              git remote add origin git@github.com:MaitreAntho/fivemfr.git
              git fetch origin main
              git reset --hard origin/main
            else
              git fetch origin main
              git reset --hard origin/main
            fi
            docker compose down
            docker compose up -d --build
